.callback {
  padding: 70px 0;

  @include m-b-desktop-down {
    padding: 60px 0;
  }

  @include m-b-laptop-down {
    padding: 50px 0;
  }

  @include m-b-tablet-lg-down {
    padding: 40px 0;
  }

  @include m-b-mobile-lg-down {
    padding: 30px 0;
  }

  background-color: var(--primary);

  &__container {
    display: grid;
    grid-template-columns: minmax(500px, 575px) auto;
    grid-column-gap: 40px;

    @include m-b-down(910px) {
      grid-template-columns: 1fr;
    }
  }

  &__form {
    @extend .flex-column;

    p {
      font-size: 44px;

      @include m-b-laptop-down {
        font-size: 40px;
      }

      @include m-b-laptop-down {
        font-size: 36px;
      }

      @include m-b-tablet-lg-down {
        font-size: 32px;
      }

      @include m-b-mobile-lg-down {
        font-size: 28px;
      }

      line-height: 1.1;

      margin-bottom: 60px;
      color: var(--white);

      @include m-b-down(635px) {
        margin-bottom: 30px;
      }
    }
  }

  &__side {
    @extend .flex-centered-content;
    position: relative;

    @include m-b-laptop-down {
      flex-direction: column;
    }

    @include m-b-down(910px) {
      display: none;
    }

    &-overlay-text {
      @extend .flex-column;
      justify-content: center;

      @include m-b-laptop-down {
        order: 2;
      }

      span {
        font-weight: 700;
        font-size: 212px;

        @include m-b-down(1800px) {
          font-size: 168px;
        }

        @include m-b-down(1600px) {
          font-size: 132px;
        }

        @include m-b-desktop-down {
          font-size: 106px;
        }

        @include m-b-laptop-down {
          font-size: 60px;
        }

        line-height: 80%;
        text-align: center;

        color: #40BDC5;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      fill: var(--white);
      z-index: 2;

      @include m-b-laptop-down {
          position: static;
          width: 165px;
          height: auto;
          transform: initial;
          order: 1;
      }
    }
  }
}
