.callback {
  padding: clamp(30px, 5vw,70px) 0;
  background-color: var(--primary);

  &__container {
    display: grid;
    grid-template-columns: minmax(500px, 575px) auto;
    grid-column-gap: 40px;

    @include m-b-down(910px) {
      grid-template-columns: 1fr;
    }
  }

  &__form {
    @extend .flex-column;

    p {
      font-size: clamp(28px, 2vw, 44px);
      line-height: 1.1;

      margin-bottom: 60px;
      color: var(--white);

      @include m-b-down(635px) {
        margin-bottom: 30px;
      }
    }
  }

  &__side {
    @extend .flex-centered-content;
    position: relative;

    @include m-b-laptop-down {
      flex-direction: column;
    }

    @include m-b-down(910px) {
      display: none;
    }

    &-overlay-text {
      @extend .flex-column;
      justify-content: center;

      @include m-b-laptop-down {
        order: 2;
      }

      span {
        font-weight: 700;
        font-size: clamp(50px, 9vw, 214px);
        line-height: 80%;
        text-align: center;

        color: #40BDC5;

        @include m-b-laptop-down {
          font-size: 60px;
        }
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      fill: var(--white);
      z-index: 2;

      @include m-b-laptop-down {
          position: static;
          width: 165px;
          height: auto;
          transform: initial;
          order: 1;
      }
    }
  }
}
