.hero {
  position: relative;
  height: 100vh;
  min-height: 534px;
  max-height: 960px;
  background-color: var(--primary);
  //background-image: url("../assets/img/hero-bg@1x.jpg");
  margin-bottom: 60px;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
