.hero {
  position: relative;
  height: 100vh;
  min-height: 844px;
  max-height: 1080px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--primary);


  @extend .section-mb;
  overflow: hidden;

  will-change: auto;
  transform: translate3d(0,0,0);

  /*iframe {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }*/

  @include m-b-tablet-lg-down {
    min-height: 657px;
  }

  @include m-b-tablet-down {
    min-height: 578px;
  }

  @include m-b-mobile-lg-down {
    min-height: 438px;
  }

  &__container {
    position: relative;

    @extend .flex-column;
    height: 100%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__logo {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;

    svg {
      width: 75%;
      height: auto;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1000px;
      will-change: auto;
    }
  }

  &__action {
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);

    a {
      position: relative;
      @extend .flex-centered-content;
      width: 50px;
      height: 50px;
      border: 2px solid var(--white);

      margin-bottom: 10px;

      svg {
        fill: var(--white);
      }

      &:hover,
      &:focus {
        .contact-helper {
          display: flex;
          animation: fadeIn 0.5s ease-in forwards;
        }
      }
    }

    @include m-b-tablet-lg-down {
      display: none;
    }

    .contact-helper {
      display: none;
      position: absolute;
      top: -2px;
      left: calc(100% + 20px);

      @extend .flex-centered-content;

      width: fit-content;
      height: 50px;

      padding: 15px;

      border-radius: 4px;
      opacity: 0;

      color: var(--dark);
      background-color: var(--white);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &::before {
        position: absolute;
        top: 50%;
        left: -5px;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translateY(-50%) rotate(45deg);
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: white;
        z-index: -1;
        //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }

      span {
        display: block;
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
        white-space: nowrap;
      }
    }
  }

  &__arrow-down {
    bottom: 100px;

    @extend .flex-column;
    margin: 0 auto;
    margin-bottom: 50px;

    @include m-b-tablet-down {
      margin-bottom: 20vh;
    }

    svg {
      fill: var(--white);
      margin-bottom: -5px;

      &:nth-child(1) {
        animation: heroArrowDown 2.1s .7s linear infinite;
      }

      &:nth-child(2) {
        animation: heroArrowDown 2.1s 1.4s linear infinite;
      }

      &:nth-child(3) {
        animation: heroArrowDown 2.1s linear infinite;
      }
    }
  }
}

