.main-footer {
  padding: 30px 0;
  background-color: var(--main-footer-bg);

  &__container {
    @extend .flex-wrap;
    align-items: center;

    @include m-b-tablet-down {
      flex-direction: column;

      & > a {
        margin-bottom: 40px;
      }
    }
  }
}
