.nav {
  position: relative;

  @include m-b-tablet-lg-down {
    display: none;

    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    position: absolute;
    top: 0;
    background-color: var(--main-bg-color);
    padding-top: 70px;
    margin-left: -15px;

    &.mobile-opened {
      display: block;
    }
  }

  &__underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: var(--white);
    //for gsap
    transform: translateX(100%);

    @include m-b-tablet-lg-down {
      display: none;
    }
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -38px;
    z-index: -1;

    @include m-b-tablet-lg-down {
      margin-top: 0;

      flex-direction: column;
      height: 100%;
      justify-content: center;
    }

    &.opened {
      z-index: 1;
    }
  }

  &__item {
    flex-grow: 1;
    // for gsap
    opacity: 0;
    transform: translateY(-250px);

    @include m-b-tablet-lg-down {
      flex-grow: initial;
    }
  }

  &__link {
    @extend .flex-centered-content;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
    height: 40px;

    color: var(--white);
    transition: color var(--main-transition), transform var(--main-transition);

    &:hover,
    &:focus {
      color: var(--dark);
      transform: translateY(-5px);
    }
  }
}
