.nav {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.6);

  overflow-y: auto;

  &__list {
    @extend .flex-column;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    max-width: fit-content;
    height: fit-content;
    min-height: 100vh;
    padding: calc(5vh + 70px) 40px;
    padding-right: calc(5vw + 80px);
    //padding-bottom: 30px;
    margin-left: 50px;
    border-left: 3px solid var(--white);
    background-color: rgba(51, 181, 188, 0.9);
    overflow: hidden;

    @include m-b-down(435px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: calc(5vh + 70px) 55px;
      //padding-bottom: 30px;
      max-width: 100%;
      border-left: none;
    }
  }

  &__list-item {
    overflow: hidden;
    padding: 3px;

    margin-bottom: 30px;

    @include m-b-tablet-down {
      margin-bottom: 15px;
    }

    &:first-child {
      margin-top: auto;
    }

    a {
      font-size: 54px;
      font-weight: 500;
      color: var(--white);

      @include m-b-desktop-down {
        font-size: 44px;
      }

      @include m-b-laptop-down {
        font-size: 36px;
      }

      @include m-b-tablet-lg-down {
        font-size: 32px;
      }

      @include m-b-mobile-lg-down {
        font-size: 28px;
      }

      @include m-b-down(435px) {
        font-size: 20px;
      }

      @extend .hover-opacity-transition;
    }

    &--contact {
      &:not(:last-of-type) {
        margin-top: auto;
        padding-top: 50px;
      }
      margin-bottom: 5px;
      a {
        font-size: 24px;

        @include m-b-down(435px) {
          font-size: 20px;
        }
      }
    }
  }
}
