.portfolio {
  @extend .section-offset;

  will-change: auto;
  transform: translate3d(0,0,0);

  &__container {
    position: relative;
    @extend .flex-column;

    /*&::before {
      position: absolute;
      top: 25%;
      left: -350px;
      width: 2418px;
      height: 1598px;
      content: "";
      background-image: url(../assets/img/page-bg-big@1x.png);
      background-size: 2418px 1598px;
      z-index: -1;
      background-repeat: no-repeat;
    }*/
  }

  &__header {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 40px;
    align-items: center;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    @extend .list-offset;

    @include m-b-laptop-down {
      grid-column-gap: 25px;
      grid-row-gap: 25px;
    }

    @include m-b-down(635px) {
      grid-template-columns: 1fr;
    }
  }

  &__list-item {
    background-color: var(--dark);

    a {
      display: flex;
      width: 100%;
      height: 100%;

      overflow: hidden;

      picture {
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 589px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &.hidden {
      display: none;
    }
  }

  &__more {
    margin: 0 auto;

    &.hidden {
      display: none;
    }

    &:disabled {
      opacity: 0.2;
      cursor: initial;
    }
  }
}
