.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.fancybox__thumb {
  border-radius: 0;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border-width: 1px;
  border-radius: 0;
}
