.tag-list {
  overflow: hidden;

  .swiper-slide {
    width: fit-content;
    padding: 10px 0;
  }

  .tag-label {
    position: relative;
    @extend .flex-wrap;
    align-items: center;

    font-size: 16px;
    line-height: 1.2;
    height: 32px;
    padding: 2px 15px;
    padding-right: 43px;
    color: var(--main-color);
    background: #F6F6F6;
    border-radius: 65px;

    span {
      @extend .text-nowrap;
      width: fit-content;
      max-width: calc(100vw - 215px);
    }

    button {
      @extend .button-default;
      position: absolute;
      top: 2px;
      right: 2px;
      content: '';
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: var(--white);

      &:disabled {
        opacity: 0.5;
        cursor: default;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translate(-50%, -50%);
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../assets/sprite.svg#icon-close);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      @extend .hover-opacity-transition;
    }
  }
}
