-
  const portfolio = [
    {
      sourceType: 'image',
      source: 'portfolio-item-1',
      desc: 'Описание',
      tags: ['Фото', 'Наружная реклама', 'ВНешние диоды']
    },
    {
      sourceType: 'image',
      source: 'portfolio-item-2',
      tags: ['Фото', 'Наружная реклама'],
    },
    {
      sourceType: 'image',
      source: 'portfolio-item-3',
      tags: ['Фото', 'Контражур'],
    },

    {
      sourceType: 'image',
      source: 'portfolio-item-2',
      tags: ['Фото', 'Наружная реклама', 'Контражур'],
    },

    {
      sourceType: 'video',
      source: 'ML02',
      tags: ['Видео', 'Наружная реклама', 'Контражур'],
    },

    {
      sourceType: 'image',
      source: 'portfolio-item-1',
      desc: 'Описание',
      tags: ['Фото', 'Наружная реклама', 'ВНешние диоды']
    },
    {
      sourceType: 'image',
      source: 'portfolio-item-2',
      tags: ['Фото', 'Наружная реклама'],
    },

    /*{
      sourceType: 'image',
      source: 'portfolio-item-2',
      tags: ['Наружная реклама'],
    },
    {
      sourceType: 'image',
      source: 'portfolio-item-3',
      tags: ['Контражур'],
    },

    {
      sourceType: 'image',
      source: 'portfolio-item-2',
      tags: ['Наружная реклама', 'Контражур'],
    },

    {
      sourceType: 'video',
      source: 'ML02',
      tags: ['Наружная реклама', 'Контражур'],
    },

    {
      sourceType: 'image',
      source: 'portfolio-item-1',
      desc: 'Описание',
      tags: ['Наружная реклама', 'ВНешние диоды']
    },
    {
      sourceType: 'image',
      source: 'portfolio-item-2',
      tags: ['Наружная реклама'],
    },
    {
      sourceType: 'image',
      source: 'portfolio-item-3',
      tags: ['Контражур'],
    },

    {
      sourceType: 'image',
      source: 'portfolio-item-3',
      tags: ['Контражур'],
    },

    {
      sourceType: 'image',
      source: 'portfolio-item-2',
      tags: ['Наружная реклама', 'Контражур'],
    },

    {
      sourceType: 'video',
      source: 'ML02',
      tags: ['Наружная реклама', 'Контражур'],
    },*/
  ]
