.section-offset {
  padding: 20px 0;
  margin-bottom: 60px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.fieldset-default {
    margin: 0;
    padding: 0;
    border: 0;
}

.text-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-default {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.flex-centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.main-scroll {
    &::-webkit-scrollbar {
        background-color: var(--main-scrollbar-color);
        width: var(--main-scrollbar-width);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--main-scrollbar-thumb-color);
    }
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #ffffff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-fluid-offset);
  max-width: var(--container-fluid-width);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.hover-opacity-transition {
  transition: opacity var(--main-transition);

  @include m-b-tablet-lg-up {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.image-scale-transition {
  transition: transform var(--slow-transition);
  @include m-b-tablet-lg-up {
    &:hover,
    &:focus {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.background-color-hover {
  transition: background-color var(--main-transition);

  &:hover,
  &:focus {
    opacity: 1;
    background-color: var(--hover-black);
  }
}

.background-white-hover {
  transition: background-color var(--main-transition), color var(--main-transition);

  &:hover,
  &:focus {
    opacity: 1;
    color: var(--gray-color);
    background-color: var(--white-color);
  }
}
