@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moving {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

@keyframes showAccordionBody {
  0% {
    height: 0;
  }

  30% {
    height: 100%;
  }

  40% {
    height: 100%;
  }

  100% {
    height: 100%;
  }
}

@keyframes portfolio-arrows {
  0% {
    transform: translateX(0) rotate(-90deg);
  }

  50% {
    transform: translateX(20px) rotate(-90deg);
  }

  100% {
    transform: translateX(0) rotate(-90deg);
  }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
