<div class="video-foreground">
  <iframe title="Фоновое видео" frameborder="0" width="1920" height="1080" allowfullscreen srcdoc="<html><head><style>body{margin: 0;padding: 0;}.bg-video-wrap {position: relative;overflow: hidden;width: 100%;height: 100vh;display: flex;}video {object-fit: cover;min-width: 100%;min-height: 100vh;z-index: 1;}</style></head><body><div class='bg-video-wrap'><video loop muted autoplay playsinline><source src='./assets/video/hero-video.mp4' type='video/mp4'><source src='./assets/video/hero-video.webm' type='video/webm'></video></div></body></html>"></iframe>
</div>
