.modal-overlay
  .modal#error-modal.state-modal.error-modal
    button(type="button" class="modal__close")
      svg(width="32" height="32")
        use(xlink:href="./assets/sprite.svg#icon-close")
    .modal__content
      svg(width="100" height="100")
        use(xlink:href="./assets/sprite.svg#icon-error")
      p Что-то пошло не&nbsp;так... <br/> Попробуйте еще раз.
