.modal-overlay
  .modal#error-modal.state-modal.error-modal
    button(type="button" class="modal__close")
      svg(width="24" height="24")
        use(xlink:href="./assets/svg-sprite.svg#icon-close")
    .modal__content
      span Упс...
      p Что-то пошло не&nbsp;так. <br/> Попробуйте снова, или свяжитесь с&nbsp;нами удобным для Вас способом.

    .modal__footer
      a(href="tel:+78126426449" aria-label="Позвонить")
        svg(width="24" height="24")
          use(xlink:href="./assets/svg-sprite.svg#icon-phone")
        span +7 (812) 642-64-49
      a(href="mailto:pro-rek@info.ru" aria-label="Отправить письмо на почту")
        svg(width="24" height="24")
          use(xlink:href="./assets/svg-sprite.svg#icon-mail")
        span pro-rek@info.ru
