.modal#gallery-modal.gallery-modal
  button(type="button" class="modal__close")
    svg(width="32" height="32")
      use(xlink:href="./assets/sprite.svg#icon-close")
  .swiper.gallery-swiper
    .swiper.swiper-main
      .swiper-wrapper

      .swiper-button-prev.gallery-swiper-button-prev
        svg(width="16" height="16")
          use(xlink:href="./assets/sprite.svg#icon-swiper-arrow")
      .swiper-button-next.gallery-swiper-button-next
        svg(width="16" height="16")
          use(xlink:href="./assets/sprite.svg#icon-swiper-arrow")
    .swiper.swiper-thumbs(thumbsSlider="")
      .swiper-wrapper
