.modal#gallery-modal.gallery-modal
  button(type="button" class="modal__close")
    svg(width="32" height="32")
      use(xlink:href="./assets/sprite.svg#icon-close")
  .swiper.gallery-swiper
    .swiper.swiper-main
      .swiper-wrapper
        p main
    .swiper.swiper-thumbs(thumbsSlider="")
      .swiper-wrapper
        p thumb
