mixin main-btn(data)
  if data.type === 'anchor'
    a(href= data.anchor class= data.cls ? data.cls : null ).main-btn
      span= data.title
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-btn-arrow")

  if data.type === 'button'
    button(type="button" class= data.cls ? data.cls : null).main-btn
      span= data.title
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-btn-arrow")
