mixin main-title(data)
  if data.type === 'regular'
    .section-title
      h2= data.title

  if data.type === 'dublicated'
    .section-title.section-title--dublicated
      span= data.dublicate
      h2= data.title
