mixin section-title(data)
  if data.type === 'regular'
    .section-title
      h2= data.title

  if data.type === 'dublicated'
    .section-title.section-title--dublicated

      h2= data.title
        span(aria-hidden="true")= data.dublicate
