footer.main-footer
  .container.main-footer__container
    a(href="#hero" aria-label="В начало страницы" data-scroll-to="hero").anchor-link
      img(src="./assets/img/main-logo.svg" alt="Логотип" width="125" height="77")

    include ./../components/contacts
    include ../components/developer
