header.main-header
  .container-fluid
    .main-header__navbar
      a(href="index.html" aria-label="Обновить")
        img(src="./assets/img/main-logo.svg" alt="Логотип" width="125" height="77")

      //include ./../views/nav
      include ./../components/burger
