-
  const navList = [
    { link: 'portfolio', title: 'Портфолио' },
    { link: 'features', title: 'Услуги' },
    { link: 'outdoor ', title: 'Наружная реклама' },
    { link: 'callback', title: 'Обратная связь' },
    { link: 'map', title: 'Как нас найти' },
  ]

nav.nav
  ul.nav__list
    each item in navList
      li.nav__list-item
        a(href='#'+item.link data-scroll-to= item.link).anchor-link= item.title

    li.nav__list-item.nav__list-item--contact
      a(href="tel:+78126426449" aria-label="Позвонить") +7 (812) 642-64-49
    li.nav__list-item.nav__list-item--contact
      a(href="mailto:pro-rek@info.ru" aria-label="Отправить письмо на почту") pro-rek@info.ru
