include ../mixins/section-title

section.portfolio#portfolio
  .container.portfolio__container
    +section-title({
      type: 'dublicated',
      title: 'Портфолио',
      dublicate: 'Портфолио'
    })

    #portfolio-app
