include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

html(lang="ru")
  +head(title, desc, keywords)

  body
    include ../components/page-overlay
    include ../components/modal-overlay
    include ../components/loader
    include ../views/main-header

    main
      block content

      include ../views/main-footer

    block modals

