include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

html(lang="ru")
  +head(title, desc, keywords)

  body
    include ../components/page-overlay
    include ../components/modal-overlay
    include ../components/loader
    include ../views/main-header

    main
      block content

    include ../views/main-footer

    img(src="./assets/img/page-bg-big.svg" alt="Фон" width="2418px" height="1598px" aria-hidden="true").page-bg.page-bg-top
    img(src="./assets/img/page-bg-small.svg" alt="" width="1383" height="984" aria-hidden="true").page-bg.page-bg-bottom
    block modals

